@use '../base/variables' as *;
@use 'sass:color';

footer {
  background-color: color.adjust($bg-primary, $lightness: -5%);
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #888;
  border-top: 1px solid rgba($accent-neon, 0.2);
  margin-top: 4rem; // Platz nach oben
}