@use 'variables' as *;

p, li {
  font-size: 1.1rem;
  color: $text-color;
  margin-bottom: 1rem;
}

li {
  list-style-position: inside;
}

a {
  color: $accent-neon;
  text-decoration: underline;
  font-weight: 700;

  &:hover {
    color: $accent-hover;
  }
}