@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
@import 'base/typography';
@import 'components/navbar';
@import 'components/sections';
@import 'components/projects';
@import 'components/footer';
